

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.fixed-img {
    height: 300px; /* todas las imágenes tendrán la misma altura */
    object-fit: cover; /* recorta proporcionalmente sin deformar */
    width: 100%; /* ocupa todo el ancho de la card */
    border-radius: 8px 8px 0 0; /* opcional para bordes redondeados arriba */
}
