@{
    ViewData["Title"] = "Home Page";
}
<link href="/src/style.css" rel="stylesheet">
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

<div class="grid grid-cols-3 gap-4 ...">
  <div>01</div>
  <div class="place-self-auto ...">02</div>
  <div>03</div>
  <div>04</div>
  <div>05</div>
  <div>06</div>
</div>
  <h1 class="text-3xl font-bold underline">
    Hello world!
  </h1>
</div>
